body {
  text-align: center;
}

.div_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div{
    width: 150px;
    height: 150px;
    border-radius: 20px;
    border: 6px solid black;
    margin: 1rem;
}

.red{
    background-color: rgb(221, 75, 62);
}

.green{
    background-color: rgb(62, 221, 75);
}

.blue{
    background-color: rgb(75, 62, 221);
}

.yellow{
    background-color: rgb(255, 234, 55);
}

.white{
    background-color: white;
}

.userFlash{
    background-color: green;
}
.game-over{
    background-color: red;
}